<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<p>Auteur : <%= @gossip.user.first_name %></p>
<p>Ville de l'auteur : <%= @gossip.user.city.name %></p>
<p>
<a href="/gossips" style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border: 2px solid #007bff; border-radius: 5px; font-weight: bold; text-align: center; display: inline-block; transition: background-color 0.3s ease, color 0.3s ease;">
  Retourner à la liste des gossips
</a>
</p>